<html>
  <head>
    <title>myChat</title>
    <script src="https://cdn.firebase.com/js/client/1.0.2/firebase.js" charset="utf-8"></script>
    <script src="http://vuejs.org/js/vue.min.js" charset="utf-8"></script>
    <!-- <link rel="stylesheet" href="app.css" media="screen" title="no title" charset="utf-8"> -->
  </head>
  <body>
<div id="app">
    <ul class="chats">
        <li v-repeat="chat:chats">
            <span>{{$index}} -- {{chat.name}} </span>
            <input v-model="chat.body" value="{{chat.body}}" v-on="keyup:changeMessage(chat) | key enter">
        </li>
    </ul>
    <form id="form" v-on="submit:addMessage">
        <input v-model="newMessage.name | capitalize">
        <input v-model="newMessage.body">
        <input type="submit" value="Add Message">
    </form>
</div>
  </body>
  <script src="app.js" charset="utf-8"></script>
</html>
